.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
  }
  
  .auth-box {
    width: 350px;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .auth-box button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
  }
  .logo{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 120px;
  }
  .auth-form{
    display: flex;
    flex-direction: column;
  }
  .otp-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.otp-input {
    width: 20px;
    height: 20px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.otp-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}